<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>Home Page Oksana Globa</title>
        <!-- Required Meta Tags Always Come First -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="assets/vendor/bootstrap/bootstrap.min.css">
        <!-- CSS Global Icons -->
        <link rel="stylesheet" href="assets/vendor/icon-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/vendor/icon-line/css/simple-line-icons.css">
        <link rel="stylesheet" href="assets/vendor/icon-etlinefont/style.css">
        <link rel="stylesheet" href="assets/vendor/icon-line-pro/style.css">
        <link rel="stylesheet" href="assets/vendor/icon-hs/style.css">
        <link rel="stylesheet" href="assets/vendor/animate.css">
        <link rel="stylesheet" href="assets/vendor/dzsparallaxer/dzsparallaxer.css">
        <link rel="stylesheet" href="assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
        <link rel="stylesheet" href="assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
        <link rel="stylesheet" href="assets/vendor/slick-carousel/slick/slick.css">
        <link rel="stylesheet" href="assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css">
        <link rel="stylesheet" href="assets/vendor/hs-bg-video/hs-bg-video.css">
        <link rel="stylesheet" href="assets/vendor/fancybox/jquery.fancybox.css">
        <link rel="stylesheet" href="assets/vendor/hs-megamenu/src/hs.megamenu.css">
        <link rel="stylesheet" href="assets/vendor/hamburgers/hamburgers.min.css">
        <!-- CSS Unify -->
        <link rel="stylesheet" href="assets/css/unify-core.css">
        <link rel="stylesheet" href="assets/css/unify-components.css">
        <link rel="stylesheet" href="assets/css/unify-globals.css">
        <!-- CSS Customization -->
        <link rel="stylesheet" href="assets/css/custom.css">
    </head>
    <body>
        <main>
            <!-- Header -->
        </main>
        <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
            <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="u-shadow-v18 g-py-0">
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                            <span class="hamburger hamburger--slider"> <span class="hamburger-box"> <span class="hamburger-inner"></span> </span> </span>
                        </button>
                        <!-- End Responsive Toggle Button -->
                        <!-- Logo -->
                        <a href="index.html" class="navbar-brand"> <img src="assets/img/logo/logo_GlobaOksana_transparent.png" alt="Image Description"> </a>
                        <!-- End Logo -->
                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                            <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                                <li class="nav-item g-mx-20--lg">
                                    <!--<a href="#!" class="nav-link px-0">Home  </a>
        </li>
        <li class="nav-item g-mx-20--lg">-->
                                    <a href="index.html" class="g-color-oksanacolor--hover nav-link px-0" style="visibility: visible;">Home <span class="sr-only">(current)</span> </a>
                                </li>
                                <li class="nav-item g-mx-20--lg">
                                    <a href="About_Me.html" class="g-color-oksanacolor--hover nav-link px-0">About me  </a>
                                </li>
                                <li class="nav-item g-mx-20--lg">
                                    <a href="#!" class="g-color-oksanacolor--hover nav-link px-0">Contact</a>
                                </li>
                                <li class="nav-item g-mx-20--lg active">
</li>
                            </ul>
                        </div>
                        <!-- End Navigation -->
                    </div>
                </nav>
            </div>
        </header>
        <section>
            <div class="container">
                <div class="main_size_portfolio">
                    <div class="shortcode-html">
                        <!-- Hero Info #01 -->
                        <div class="shortcode-html" id="main_portfolio_size" title="main portfolio size">
                            <div id="carousel-08-1" class="js-carousel text-center g-mb-20" data-infinite="true" data-arrows-classes="u-arrow-v1 g-absolute-centered--y g-width-35 g-height-40 g-font-size-18 g-color-gray g-bg-white g-mt-minus-10" data-arrow-left-classes="fa fa-angle-left g-left-0" data-arrow-right-classes="fa fa-angle-right g-right-0" data-nav-for="#carousel-08-2">
                                <div class="js-slide">
                                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="assets/img/category/bees2.gif" data-caption="Lightbox Gallery"> <img class="img-fluid w-100" src="assets/img/category/bees2.gif
        " alt="Image Description"> </a>
                                </div>
                                <div class="js-slide">
                                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="assets/img/category/LAWebsite_2.jpg" data-caption="Lightbox Gallery"> <img class="img-fluid w-100" src="assets/img/category/LAWebsite_2.jpg" alt="Image Description"> </a>
                                </div>
                                <div class="js-slide">
                                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="assets/img/category/LAWebsite_3.jpg" data-caption="Lightbox Gallery"> <img class="img-fluid w-100" src="assets/img/category/LAWebsite_3.jpg" alt="Image Description"> </a>
                                </div>
                                <div class="js-slide">
                                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="assets/img/category/LAWebsite_4.jpg" data-caption="Lightbox Gallery"> <img class="img-fluid w-100" src="assets/img/category/LAWebsite_4.jpg" alt="Image Description"> </a>
                                </div>
                                <div class="js-slide">
                                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="assets/img/category/LAWebsite_5.jpg" data-caption="Lightbox Gallery"> <img class="img-fluid w-100" src="assets/img/category/LAWebsite_5.jpg" alt="Image Description"> </a>
                                </div>
                                <div class="js-slide">
                                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="assets/img/category/LAWebsite_6.jpg" data-caption="Lightbox Gallery"> <img class="img-fluid w-100" src="assets/img/category/LAWebsite_6.jpg" alt="Image Description"> </a>
                                </div>
                                <div class="js-slide">
                                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="assets/img/category/LAWebsite_7.jpg" data-caption="Lightbox Gallery"> <img class="img-fluid w-100" src="assets/img/category/LAWebsite_7.jpg" alt="Image Description"> </a>
                                </div>
                                <div class="js-slide">
                                    <a class="js-fancybox d-block g-pos-rel" href="javascript:;" data-fancybox="lightbox-gallery--08-1" data-src="assets/img/category/LAWebsite_8.jpg" data-caption="Lightbox Gallery"> <img class="img-fluid w-100" src="assets/img/category/LAWebsite_8.jpg" alt="Image Description"> </a>
                                </div>
                            </div>
                            <div id="carousel-08-2" class="js-carousel text-center g-mx-minus-10 u-carousel-v3" data-infinite="true" data-center-mode="true" data-slides-show="4" data-is-thumbs="true" data-nav-for="#carousel-08-1">
                                <div class="js-slide g-px-10">
                                    <img class="img-fluid w-100" src="assets/img/category/LAWebsite_1.jpg" alt="Image Description">
                                </div>
                                <div class="js-slide g-px-10">
                                    <img class="img-fluid w-100" src="assets/img/category/LAWebsite_2.jpg" alt="Image Description">
                                </div>
                                <div class="js-slide g-px-10">
                                    <img class="img-fluid w-100" src="assets/img/category/LAWebsite_3.jpg" alt="Image Description">
                                </div>
                                <div class="js-slide g-px-10">
                                    <img class="img-fluid w-100" src="assets/img/category/LAWebsite_4.jpg" alt="Image Description">
                                </div>
                                <div class="js-slide g-px-10">
                                    <img class="img-fluid w-100" src="assets/img/category/LAWebsite_5.jpg" alt="Image Description">
                                </div>
                                <div class="js-slide g-px-10">
                                    <img class="img-fluid w-100" src="assets/img/category/LAWebsite_6.jpg" alt="Image Description">
                                </div>
                                <div class="js-slide g-px-10">
                                    <img class="img-fluid w-100" src="assets/img/category/LAWebsite_7.jpg" alt="Image Description">
                                </div>
                                <div class="js-slide g-px-10">
                                    <img class="img-fluid w-100" src="assets/img/category/LAWebsite_8.jpg" alt="Image Description">
                                </div>
                            </div>
                        </div>
                        <div class="shortcode-styles">
                            <!-- CSS Implementing Plugins -->
                            <link rel="stylesheet" href="assets/vendor/icon-hs/style.css">
                            <link rel="stylesheet" href="assets/vendor/fancybox/jquery.fancybox.min.css">
                            <link rel="stylesheet" href="assets/vendor/slick-carousel/slick/slick.css">
                        </div>
                        <div class="shortcode-scripts">
                            <!-- JS Implementing Plugins -->
                            <script src="assets/vendor/fancybox/jquery.fancybox.min.js"></script>
                            <script src="assets/vendor/slick-carousel/slick/slick.js"></script>
                            <!-- JS Unify -->
                            <script src="assets/js/components/hs.popup.js"></script>
                            <script src="assets/js/components/hs.carousel.js"></script>
                            <!-- JS Plugins Init. -->
                            <script>
                  $(document).on('ready', function () {
                    // initialization of popups
                    $.HSCore.components.HSPopup.init('.js-fancybox');

                    // initialization of carousel
                    $.HSCore.components.HSCarousel.init('.js-carousel');
                  });
                </script>
                        </div>
                        <div class="shortcode-html">
                            <div class="u-heading-v2-1--bottom g-mb-30">
                                <h2 class="u-heading-v2__title g-mb-10">LendingArch Websites</h2>
                                <h4 class="g-font-weight-200">Website Design</h4>
                            </div>
                            <p><b>Client: LendingArch</b><br></p>
                            <p> The first four images are the landing page that is made for car dealerships. It is meant  to introduce an opportunity to partner with  <a href="https://lendingarch.ca/">LendingArch</a>.</p>
                            <p>
    The second four images show pages with an auto loan forms and equipment financing. People who visit our website are able to quickly and easily fill out the form and apply for a car loan or any other loan.</p>
                            <br>
                            <br>
                            <br>
                        </div>
                        <div class="other_projects">
                            <div class="shortcode-html">
                                <h4 class="g-font-weight-200">See Other Projects</h4>
                                <div class="row">
                                    <div class="col-lg-4 g-mb-30">
                                        <!-- Article -->
                                        <article>
                                            <img class="img-fluid w-100 g-mb-20" src="assets/img/calcoola_thumb_before_footer.jpg" alt="Image Description">
                                            <h3 class="text-uppercase g-font-size-15"> <a class="u-link-v5 g-color-main g-color-oksanacolor--hover" href="#">Calcoola UX/UI</a> </h3>
                                            <strong> <a class="g-font-size-12 text-uppercase" href="#">See More</a> </strong>
                                        </article>
                                        <!-- End Article -->
                                    </div>
                                    <div class="col-lg-4 g-mb-30">
                                        <!-- Article -->
                                        <article>
                                            <img class="img-fluid w-100 g-mb-20" src="assets/img/RetroLight_thumb_before_footer.jpg" alt="Image Description">
                                            <h3 class="text-uppercase g-font-size-15"> <a class="u-link-v5 g-color-main g-color-oksanacolor--hover" href="#">Website</a> </h3>
                                            <strong> <a class="text-uppercase g-font-size-12" href="#">See More</a> </strong>
                                        </article>
                                        <!-- End Article -->
                                    </div>
                                    <div class="col-lg-4 g-mb-30">
                                        <!-- Article -->
                                        <article>
                                            <img class="img-fluid w-100 g-mb-20" src="assets/img/CMW_thumb_before_footer.jpg" alt="Image Description">
                                            <h3 class="text-uppercase g-font-size-15"> <a class="u-link-v5 g-color-main g-color-oksanacolor--hover" href="#">CMW Identity</a> </h3>
                                            <strong> <a class="text-uppercase g-font-size-12" href="#">See More</a> </strong>
                                        </article>
                                        <!-- End Article -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-md color-oksanacolor-btn g-mb-15 g-mr-10 u-btn-primary">Back to Home Gallery</a>
                        <!-- Footer -->
                        <!-- End Footer -->
                        <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn"> <i class="hs-icon hs-icon-arrow-top"></i> </a>
                    </div>
                </div>                 
            </div>             
        </section>
        <footer class="container g-pt-100 g-pb-20">
            <div class="row">
                <div class="col-sm-6 col-lg-3 g-mb-30">
                    <a class="d-inline-block mb-4" href="#!"> <img class="g-width-100 g-height-auto" src="assets/img/logo/logo_GlobaOksana_transparent.png" alt="Image Description"> </a>
                    <p class="g-color-gray-dark-v4 g-font-size-13">2020 © All Rights Reserved. <br>Oksana Globa</p>
                </div>
                <div class="col-sm-6 col-lg-3 g-mb-30">
                    <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">Pages</h3>
                    <!-- Links -->
                    <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13">
                        <li class="my-3">
                            <i class="mr-2 fa fa-angle-right"></i>
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">Home</a>
                        </li>
                        <li class="my-3">
                            <i class="mr-2 fa fa-angle-right"></i>
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">About</a>
                        </li>
                        <li class="my-3">
                            <i class="mr-2 fa fa-angle-right"></i>
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 g-mb-30">
                    <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">Contacts</h3>
                    <!-- Links -->
                    <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13">
                        <li class="media mb-4">
                            <i class="d-flex mt-1 mr-3 icon-hotel-restaurant-235 u-line-icon-pro"></i>
                            <div class="media-body">
                                Calgary, AB, Canada
</div>
                        </li>
                        <li class="media mb-4">
                            <i class="d-flex mt-1 mr-3 icon-communication-062 u-line-icon-pro"></i>
                            <div class="media-body">
                                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">oksana.globa@gmail.com</a>
                            </div>
                        </li>
                        <li class="media mb-4">
                            <i class="d-flex mt-1 mr-3 icon-communication-033 u-line-icon-pro"></i>
                            <div class="media-body">
                                (+1) 587 433 2910
</div>
                        </li>
                    </ul>
                    <!-- End Links -->
                </div>
                <div class="col-sm-6 col-lg-3 g-mb-30">
                    <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">Follow</h3>
                    <!-- Links -->
                    <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13">
                        <li class="my-3">
                            <i class="mr-2 fa fa-angle-right"></i>
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">Facebook</a>
                        </li>
                        <li class="my-3">
                            <i class="mr-2 fa fa-angle-right"></i>
                            <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">Linkedin</a>
                        </li>
                    </ul>
                    <!-- End Links -->
                </div>
            </div>
        </footer>
        <div class="u-outer-spaces-helper"></div>
        <!-- JS Global Compulsory -->
        <script src="assets/vendor/jquery/jquery.min.js"></script>
        <script src="assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
        <script src="assets/vendor/popper.min.js"></script>
        <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>
        <!-- JS Implementing Plugins -->
        <script src="assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
        <script src="assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
        <script src="assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
        <script src="assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
        <script src="assets/vendor/slick-carousel/slick/slick.js"></script>
        <script src="assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
        <script src="assets/vendor/hs-bg-video/hs-bg-video.js"></script>
        <script src="assets/vendor/hs-bg-video/vendor/player.min.js"></script>
        <script src="assets/vendor/fancybox/jquery.fancybox.min.js"></script>
        <!-- JS Unify -->
        <script src="assets/js/hs.core.js"></script>
        <script src="assets/js/components/hs.header.js"></script>
        <script src="assets/js/helpers/hs.hamburgers.js"></script>
        <script src="assets/js/components/hs.tabs.js"></script>
        <script src="assets/js/components/hs.go-to.js"></script>
        <script src="assets/js/components/hs.carousel.js"></script>
        <script src="assets/js/components/hs.cubeportfolio.js"></script>
        <script src="assets/js/helpers/hs.bg-video.js"></script>
        <script src="assets/js/components/hs.popup.js"></script>
        <script src="assets/js/components/hs.go-to.js"></script>
        <!-- JS Customization -->
        <script src="assets/js/custom.js"></script>
        <!-- JS Plugins Init. -->
        <script>
    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of video on background
        $.HSCore.helpers.HSBgVideo.init('.js-bg-video');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });

        // initialization of cubeportfolio
        $.HSCore.components.HSCubeportfolio.init('.cbp');
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>
    </body>
</html>
